<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="22043IntaEngineering.FEMExplorer" Publisher="CN=5C3F1F5F-135A-453E-940D-1D240228ED49" Version="1.1.45.0" />
  <mp:PhoneIdentity PhoneProductId="345e11b2-3631-4da7-85a8-0232c0fedf99" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Finite Element Analysis Explorer</DisplayName>
    <PublisherDisplayName>Dallas Adams</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Finite_Element_Analysis_Explorer.App">
      <uap:VisualElements DisplayName="Finite Element Analysis Explorer" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="A graphic view of static analysis calculations." BackgroundColor="black">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="FEA Explorer" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="black" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>